<app-not-found
  [visible]="!food.id"
  notFoundMessage="Товар не найден"
  resetLinkText="Вернуться на главную"
></app-not-found>
<div *ngIf="food.id" class="container">
  <img [src]="food.imageUrl" [alt]="food.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
      <span class="favorite {{ food.favorite ? '' : 'not' }}">❤</span>
    </div>
    <div class="rating">Оценка {{ food.stars }} из 5</div>
    <div class="origins">
      @for (origin of food.origins; track origin) {
      <span>{{ origin }}</span>
      }
    </div>
    <div class="tags">
      @for (tag of food.tags; track tag) {
      <a routerLink="/tag/{{ tag }}"> {{ tag }} </a>
      }
    </div>
    <div class="cook-time">
      <span
        >Время приготовления <strong>{{ food.cookTime }}</strong> минут</span
      >
    </div>

    <div class="price">
      <span> {{ food.price | currency }}</span>
    </div>

    <button (click)="addToCart()">Добавить в корзину</button>
  </div>
</div>
