<header>
  <div class="container">
    <a routerLink="/" class="logo">Пиццевое!</a>
    <nav>
      <ul>
        <li><a routerLink="/login">Вход</a></li>
        <li class="menu-container">
          <a routerLink="/login">Имя</a>
          <div class="menu">
            <a routerLink="/profile">Профиль</a>
            <a routerLink="/orders">Заказы</a>
            <a>Выход</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page"> Корзина <span>3</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
