<div class="container">
  <div class="details">
    <app-title title="Вход"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmited"
        type="email"
        label="Почта"
      >
      </text-input>
      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmited"
        type="password"
        label="Пароль"
      >
      </text-input>
      <default-button text="Войти"></default-button>
    </form>
  </div>
</div>
